.responsive-div {
    height: 100px;
    width: 100px;
  }

h1 {
    font-size: 60px; 
    color: black;
    background-color: rgb(49, 48, 48);
    background-size: cover; 
    background-position: center top;
    font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.timer-container {
    position: absolute;
    bottom: 5px;
    right: 15px;
    background-color:rgb(68, 9, 9);
    padding: 10px; 
    border-radius: 10px; 
}

.timer {
    font-size: 20px;
    color: white;
    font-weight: bold;
}


#start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(68, 9, 9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
}

#restart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(68, 9, 9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 1000px;
}

.container {
    text-align: center;
    margin-top: 50px;
    background-image: url('pictures/Obliviate.jpg'); 
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    padding-left: 320px;
}

.card {
    width: 150px;
    height: 150px;
    position: relative; 
    perspective: 1000px; 
    cursor: pointer;
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden; 
    transition: transform 0.5s; 
}

.front-face {
    z-index: 2; 
}

.back-face {
    transform: rotateY(180deg); 
}

.card.flip .front-face {
    transform: rotateY(-180deg); 
}

.card.flip .back-face {
    transform: rotateY(0deg); 
}


.hidden {
    display: none;
}

.matched {
    opacity: 0.5; 
    pointer-events: none;
}

#notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(68, 9, 9);
    background-size: cover;
    color: rgb(223, 196, 196);
    font-weight: bolder;
    border-radius: 10px;
    display: none;
    text-align: center;
    max-width: 1500px; 
}

.notification-message {
    margin-bottom: 10px; 
}

.notification-gif {
    display: block;
    margin-top: 5px; 
}

.music {
    position: absolute;
    bottom: 0,25px; 
    left: 50px; 
    color:rgb(223, 196, 196);
    background-color: rgb(68, 9, 9);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(68, 9, 9);
    font-size: 15px;
    font-weight: bolder;
}